
/*Desktop*/

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    Font-size: 18px;
    
}

.imageHeader h1{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#headerTable {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgb(61, 190, 254);
    height: 80px;
    color: hsl(0, 0%, 100%);
    z-index: 1;

}
.logo {
    width: 80px;
    padding: 10px;
}
nav {
    margin-right: 16px;
    z-index: 1;
  
}
nav a {
    margin-right: 16px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 10px;
}
nav a:hover{
    cursor: pointer;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
}
main{
    margin: 0;
    padding-right: 0;
    
}
main .headerImg{
min-height: 100%;
}

main .textContent{
    text-align: center;
}
table{
    border-spacing: 0px;
    border-collapse: collapse;
}
main tr{
   margin-top: -4px;
   display: block;
}
main .textContent{
    width: 40%;
    margin-left: 30%;
}
main .secTextContent{
    width: 40%;
    margin-right: 30%;
    
}
main .secTextContent p{
        padding: 35px;
        

    
} 
main .secTextContent a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
main .secTextContent a:hover{
    border-bottom:hsl(7, 99%, 70%)  5px groove;
    font-weight: bold;
}
main .textContent a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
main .textContent a:hover{
    border-bottom:5px groove hsl(51, 100%, 49%) ;
    font-weight: bold; 
}
main .textContent p{
    padding: 35px;
}
main h1{
    font-weight: bold;
    
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .contentContainer{
    position: absolute;
   top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  } 
  #photography{
    color: hsl(198, 62%, 26%); 
  }
  .contentContainer h3{
      color: hsl(167, 40%, 24%);
  }
  main h3{
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 25px;
  }
 .clientTable{
     margin-top: 70px;
     margin-bottom:50px ;
     
 }
 .clientTable td{
     text-align: center;
 }
 
 .clientTest{
     color: grey;
     text-align: center;
     margin-top: 50px;
 }
 .clientImg{
     border-radius: 50%;
     width: 50px;
     height: 50px;
     top: -10px;
 }
 .clientContainer{
     margin-top: -20px;
     
 }
 .clientContainer p{
     width: 40%;
     margin-left: 30%;
 }
 .clientName{
    margin-top: 30px;
 }
 .clientPosition{
    margin-top: 10px;
    opacity: 0.5;
 }
 .foodImg{
     width: 100%;
 }

 footer{
     background-color: hsl(168, 34%, 41%);
     text-align: center;
     
     
 }
 table {
    margin-bottom: -5px;
 }
 footer p {
     text-align: center;
     color: hsl(198, 62%, 26%);
     font-weight: bold;
     padding-top: 50px;
     font-size: 40px;
     margin-bottom: 20px;
     font-weight: bold;
     
     
 }
 footer a{
     margin: 15px;
     padding-top: 50px;
     color: hsl(198, 62%, 26%);
     text-decoration: none;
    
 }
 footer a:hover{
     color: white;
 }
 footer .socialLink{
    margin-top: 30px;
 }
footer .socialLink img:hover{
background-color: white;
}